<body>
    <div class="container">
        <header class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Microscope</a>
            </div>
        </header>
        <div id="main">
            <div class="posts">
                <div class="post">
                    <div class="post-content">
                        <h3>
                            <a href="http://www.helloarron.com">HelloArron</a>
                            <span>helloarron.com</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
